{%  extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card w-50  shadow-lg  mb-5 bg-white rounded" style="width:18rem;margin:auto;margin-top:60px;">
    <img src='{% static  "images/"|add:note.css_class %}' class="card-img-top w-100 "  alt="...">
    <div class="card-body">
      <h5 class="card-title">{{note.title}}</h5>
      <p class="card-text">{{note.text}}</p>
     
      <div class="row">
      <div class="col">
        <a href="{% url 'item:edit_page' id=note.id %}" class="btn btn-primary w-100">Edit</a>
      </div>
     <div class="col">
        <a href="{% url 'item:delete_page' id=note.id %}" class="btn btn-primary w-100">Delete</a>
     </div>
     {% if note.file1 %}
     <div class="col">
      <a href="{% url 'item:file_download' file_path=note.file1 %}" class="btn btn-primary w-100">Download file</a>
   </div>
   {% endif %}
    </div>

    </div>
  </div>

{% endblock  %}